body {
  overflow: hidden;
}

.dark {
  background-color: #202020;
}

button {
  outline: none;
  border: none;
}

input {
  border: none;
  outline: none;
}

.gray {
  background-color: #313131;
  color: rgba(255, 255, 255, 0.527);
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}
